body {
    background-color: white;
    font-family: "IBM Plex Sans", sans-serif;

}

#info {
    font-style: italic;
    font-weight: bold;
}

#light .carousel-indicators li {
    background-color: #333;
    /* Dark color for inactive indicators */
    opacity: 0.7;
    /* Slightly transparent for better aesthetics */
}

#light .carousel-indicators .active {
    background-color: #000;
    /* Darker color for the active indicator */
    opacity: 1;
    /* Fully opaque to highlight the active slide */
}

#title {
    color: black;
    font-size: 3rem;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 400;


}

#mainNavbar .nav-link {
    color: black;

}


#mainNavbar .nav-link:hover {
    color: #6198da;
}

.navbar.scrolled {
    background: yellow;
    transition: background 500ms;
}

#mail {
    padding-bottom: 3rem;
    margin: 1rem;

}

#spaced-center {

    padding: 5rem;
    margin: 1rem;
}

footer {
    color: white;

    font-weight: 300;
}

#blue {
    background-color: #6198da;
}

.sectionone {
    color: white;
}

@media (max-width: 1265px) {
    #headingGroup h1 {
        font-weight: 400;
        font-size: 3rem;
    }

    #title {
        font-size: 3rem;
    }

}

@media (max-width: 1100px) {
    #headingGroup h1 {
        font-weight: 400;
        font-size: 2rem;

    }

    #title {
        font-size: 2rem;
    }

    #mail {
        font-size: 2rem;
    }

}